@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    /*deslizo lento*/
    scroll-behavior: smooth;
}

/*menu*/
.contenido-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenido-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenido-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #aa8d0d;
    text-decoration: none;
}

.contenido-header header ul {
    display: flex;
    list-style: none;
}

.contenido-header header nav ul li a {
    text-align: none;
    color: #ffff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenido-header header nav ul li a:hover {
    color: #aa8d0d;
}


/* INICIO */
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.png);
    background-size: cover;
    height: 100vh;
    color: #ffff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 10px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 60px;
}

.inicio .contenido-banner img {
    margin-top: 30px;
    border: 10px solid #1e2326;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 50%;
}

.inicio .contenido-banner h1 {
    margin-top: 0px;
    font-size: 32px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    color: #ffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;

}

.inicio .contenido-banner .redes a:hover {
    background-color: #aa8d0d;
}

.inicio .flecha {
    font-size: 80px;
    position: relative;
    top: 400px;
    right: 950px;
}

/*SOBRE MI*/
.sobremi {
    background-color: #1e2326;
    color: #fff;
    padding: 200px 20px;
    height: 100vh;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-size: 20px;
}

.sobremi .contenido-seccion p span {
    font-size: 30px;
    color: #aa8d0d;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #aa8d0d;
    width: 130px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #aa8d0d;
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #aa8d0d;
    z-index: -1;
    transition: 1s;
}

.sobremi button:hover .overlay {
    width: 100%;
}

/*curriculum*/
.curriculum {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
        url(img/fondo.png);
    background-size: cover;
    height: 100vh;
    color: #ffff;
    padding: 40px 20px;

}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.curriculum h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0px;

}

.tabla1 {
    margin-left: 50px;
    width: 50%;
    top: 50px;

}

.tabla2 {
    margin-left: 50px;
    width: 50%;
    top: 50px;
}

.tabla1 caption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Vina Sans', cursive;
    padding: 15px 0;

}

.tabla1 th {
    border-collapse: collapse;
    margin-right: 20px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #222;
    height: 30px;
}

.tabla1 td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    vertical-align: top;
    height: 30px;
}

.tabla1 th:hover {
    background-color: #aa8d0d;
}

.tabla1 td:hover {
    background-color: #252A2E;
}

.tabla2 caption {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Vina Sans', cursive;
    padding: 15px 0;
}

.tabla2 th {
    border-collapse: collapse;
    margin-right: 20px;
    border: 1px solid #fff;
    text-align: center;
    background-color: #222;
    height: 20px;
}

.tabla2 td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    vertical-align: top;
    height: 30px;
}

.tabla2 th:hover {
    background-color: #aa8d0d;
}

.tabla2 td:hover {
    background-color: #252A2E;
}

.curriculum .idiomas h3 {
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    position: relative;
    top: 100px;
    left: 20px;
}

.curriculum .idiomas ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    list-style: none;
    text-align: center;
    margin-top: 130px;
    margin-left: 60px;
    border: 1px solid #ffff;
}

.curriculum .otrosdatos h3 {
    font-size: 30px;
    font-family: 'Righteous';
    text-align: center;
    position: relative;
    top: 20px;
    left: 30px;
}

.curriculum .otrosdatos ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    list-style: none;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    border: 1px solid #ffff;
}

/* CONTACTO */
.contacto {
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.contacto .contenido-seccion {
    max-width: 1100%;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 100%;
    padding: 100px;
    position: static;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252A2E;
    color: #fff;
    font-size: 18px;
}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #aa8d0d;
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay {
    width: 100%;
}

/*FOOTER*/
footer {
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #ffff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ffff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 10px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #aa8d0d;
}